@model IEnumerable<Homework1.Models.ViewModels.MoneyViewModel>
@using Homework1.Models.ViewModels;

<table class="table table-hover table-bordered">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
    </tr>

@{ 
    var index = 1;
}

@foreach (var item in Model.OrderBy(p => p.Date)) {
   
    var categoryTdClassName = item.Category == MoneyCategory.Income ? "text-primary" : "text-danger";

    <tr>
        <td>
            @(index++)
        </td>
        <td class="@categoryTdClassName">
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
    </tr>
}

</table>